* {
    font-family: 'Gabarito', cursive;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

form {
    background-color: rgb(194, 214, 232);
    width: 500px;
    margin-left: 22%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 10px #a9b2fe;
}

input {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(221, 221, 221);
}